*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    background-color: rgb(23, 149, 180);
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    display: grid;
    place-items: center;
}

.container {
    background-color: #fff;
    padding: 5rem 2rem;
    width: 50rem;
    text-align: center;
    box-shadow: 0 5px 16px rgba(0,0,0,0.5), 0 6px 6px rgba(0, 0,  0, 0.5);
    border-radius: 10px;
}


h3 {
    font-size: 2rem;
    letter-spacing: .3rem;
    opacity: 0.5;
}

.joke {
    font-size: 2rem;
    margin: 5rem auto;
    color: #000;
    font-weight: 700;
}


.btn {
    padding: 1.6rem 4rem;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    background-color:rgb(115, 37, 160) ;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0,  0, 0.3);
}

.btn:active {
    transform: scale(0.98);
}

.btn:focus {
    outline: 0;
}