*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(209, 70%, 33%);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 500px;
}
textarea {
    width: 100%;
    padding: 20px;
    height: 150px;
    margin:20px 0 10px ;
    font-size: 20px;
    color: rgb(113, 117, 116);

}

textarea:focus {
    outline: none;
}

.tag {
    background-color: rgb(216, 135, 42);
    padding: 5px 15px;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
    margin-left: 10px;
}

.tag:hover {
    transform: scale(1.02);
}

.tag.hightlight {
    background-color: #0b246b;;
}